- html_title t('label.docker_image.new')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= render_crumbs

    = bootstrap_form_for @docker_image,
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4 col-md-4",
                         url:    admin_docker_images_path,
                         html:   { method: :post } do |f|

      = render 'form', f: f

      .form-group
        %div{ class: 'col-sm-offset-2 col-sm-4' }
          = button_submit t('button.create')
          = button_cancel admin_docker_images_path
