= f.text_field :domain_name
= f.select     :temp_db_type, available_database_types, prompt: true
= f.select     :image_type,   available_docker_images,  prompt: true
= f.select     :buildpack,    available_buildpacks,     prompt: true, control_col: 'col-sm-7 col-md-7 col-lg-6'

= f.text_field :repository_url,    control_col: 'col-sm-8 col-md-8'
= f.text_field :repository_branch, control_col: 'col-sm-4 col-md-4 col-lg-3'
