= f.text_field :name,       required: true
= f.text_field :identifier, required: true, disabled: !platform.new_record?
= f.text_area  :description

= f.form_group do
  = f.success
  = f.cancel admin_platforms_path
