= bootstrap_form_for platform,
                     layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-2",
                     url:    admin_platform_path(platform),
                     html:   { method: :patch, remote: true } do |f|

  = render partial: 'form', locals: { f: f, platform: platform }

  %div{ class: 'form-group' }
    %div{ class: 'col-sm-offset-2 col-sm-2' }
      = button_submit t('button.update')

#delete
  .row
    %div{ class: 'col-md-offset-1 col-md-10' }

    %hr

    %h4{ class: 'page-header' }= t('label.platform.destroy')

    = link_to label_with_icon(t('button.delete'), 'fa-trash-o'),
              admin_platform_path(platform),
              method: :delete,
              data: { confirm: t('text.are_you_sure') },
              class: "btn btn-danger"
