- html_title t('label.platform.plural')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }
      = render_crumbs
      = button_add new_admin_platform_path

    %ul{ class: 'nav nav-tabs', role: 'tablist' }
      - @platforms.each do |platform|
        = navigation_tab label_with_icon(platform.name, 'fa-sitemap'), "##{platform.to_id}", "##{platform.to_id}", active: @platforms.first == platform

    %div{ class: 'tab-content' }
      - @platforms.each do |platform|
        %div{ class: "tab-pane #{@platforms.first == platform ? 'active' : ''}", id: platform.to_id }
          = render template: 'admin/platforms/show', locals: { platform: platform }
