%h3{ class: 'page-header' }= label_with_icon(t('label.user.profile'), 'fa-user', fixed: true)

%dl{ class: 'dl-horizontal' }
  %dt= t('label.user.firstname')
  %dd= @user.firstname

  %dt= t('label.user.lastname')
  %dd= @user.lastname

  %dt= t('label.user.email')
  %dd= mail_to @user.email

  %dt= t('label.activity.last_plural')
  %dd
    - @activities.each do |activity|
      = ActivityPresenter.new(activity, self).render_activity

= button_cancel "javascript:history.back()", label: t('button.back'), icon: false
