#credentials{ class: 'settings' }

  .settings-head{ onclick: "showSettings('#settings-credentials'); return false;" }
    %h4{ class: 'page-header' }= label_with_icon(get_model_name_for('ApplicationCredential'), 'fa-eye', fixed: true)

  #settings-credentials

    .flash-messages

    = bootstrap_nested_form_for application,
                                url:    credentials_application_path(application),
                                html:   { method: :patch, remote: true } do |f|

      %table{ class: 'table table-hover', id: 'application_credentials_list' }
        %thead
          %tr
            %th= ApplicationCredential.human_attribute_name('login')
            %th= ApplicationCredential.human_attribute_name('password')
            %th

        %tbody
          = f.fields_for :credentials, wrapper: false do |ff|

            %tr{ class: 'fields' }
              %td{ class: 'vert-align' }= ff.text_field :login, hide_label: true
              %td{ class: 'vert-align' }= ff.text_field :password, hide_label: true
              %td{ class: 'vert-align' }= ff.link_to_remove icon('fa-trash')

      .form-group
        %div{ class: 'col-sm-12' }
          = button_submit t('button.save')
          %span{ class: 'pull-right' }= f.link_to_add label_with_icon(t('.add'), 'fa-plus', fixed: true), :credentials, data: { target: "#application_credentials_list" }
