%tr{ id: "member-#{member.id}" }

  %td= render_enroblable(member)

  %td

    %span{ id: "member-#{member.id}-roles" }= member.roles.uniq.sort.collect(&:to_s).join(', ')

    = bootstrap_form_for member,
                           layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10",
                           url:    application_member_path(application, member),
                           html:   { method: :patch, remote: true, id: "member-#{member.id}-roles-form", class: 'hol' } do |f|

      %p
        - Role.givable.each do |role|
          %label
            = check_box_tag 'member[role_ids][]', role.id, member.roles.include?(role), id: nil, disabled: member.member_roles.detect { |mr| mr.role_id == role.id && !mr.inherited_from.nil? }
            = role
          %br

      = hidden_field_tag "member[role_ids][]", ''

      = button_submit t('button.update'), class: 'btn-sm'

      = button_cancel '#',
                      class: 'btn-sm',
                      onclick: "$('#member-#{member.id}-roles').show(); $('#member-#{member.id}-roles-form').hide(); return false;"

  %td
    = button_edit '#',
                  class: 'btn-sm pull-right',
                  onclick: "$('#member-#{member.id}-roles').hide(); $('#member-#{member.id}-roles-form').show(); return false;"

    = button_delete application_member_path(application, member),
                    class: 'btn-sm pull-right',
                    remote: true,
                    confirm: (!User.current.admin? && member.include?(User.current)) if member.deletable?
