#ssl-certificate{ class: 'settings' }

  .settings-head{ onclick: "showSettings('#settings-ssl-certificate'); return false;" }
    %h4{ class: 'page-header' }= label_with_icon(get_model_name_for('SslCertificate', pluralize: false), 'fa-shield', fixed: true)

  #settings-ssl-certificate

    %span{ class: 'pull-right'}
      = link_to label_with_icon(t('.reset'), 'fa-trash', fixed: true),
                reset_ssl_certificate_application_path(application),
                remote: true,
                data:   { confirm: t('text.are_you_sure') }

    %br
    %br

    .flash-messages

    = bootstrap_form_for (application.ssl_certificate || SslCertificate.new),
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8",
                         url:    ssl_certificate_application_path(application),
                         html:   { method: :patch, remote: true } do |f|

      = f.errors_on :base

      = f.text_area :ssl_crt, required: true, rows: '6', disabled: !f.object.new_record?
      = f.text_area :ssl_key, required: true, rows: '6', disabled: !f.object.new_record?

      .form-group
        %div{ class: 'col-sm-offset-2 col-sm-3' }
          = button_submit t('button.save')
