- bootstrap_datatables_for "container_#{container.id}_events",
    ajax:        { url: events_application_container_path(container.application, container, format: :json), type: 'POST' },
    dom:         '<"panel panel-default"<"panel-heading"<"toolbar"><"pull-right hide-on-small"B>>t>ip',
    order:       [[ 1, 'asc' ]],
    page_length: 5 do |t|

  - t.head_for 'created_at', label: ContainerEvent.human_attribute_name('created_at'), class: 'created_at'
  - t.head_for 'type',       label: ContainerEvent.human_attribute_name('type'),       class: 'type'
  - t.head_for 'message',    label: ContainerEvent.human_attribute_name('message'),    class: 'message'
  - t.head_for 'id',         label: link_to_icon('fa-check', mark_events_application_container_path(container.application, container), method: :post, remote: :true, title: t('text.mark_as_read')), class: 'text-center'

  - t.body
  = t.render_datatable
  - content_for :javascript do
    = t.render_js_datatable

- content_for :javascript do
  $("#container_#{container.id}_events-table_wrapper div.toolbar").html("#{container.to_s}");
