%h4{ class: 'page-header' }
  = label_with_icon(t('.title'), 'fa-cloud-download', fixed: true)

  %small.pull-right
    - if repository.rugged_proxy.syncable?
      - if repository.rugged_proxy.synced?
        %span{ class: 'label label-success' }= label_with_icon(t('.synced'), 'fa-check')
      - else
        %span{ class: 'label label-warning' }
          = link_to label_with_icon(t('.syncable'), 'fa-refresh'),
                    synchronize_repository_application_path(repository.application),
                    remote: true,
                    title:  render_commit_distance(repository.rugged_proxy.commit_distance)
    - else
      %span{ class: 'label label-danger' }= label_with_icon(t('.not_syncable'), 'fa-exclamation-triangle')
      %em= repository.rugged_proxy.errors.join(' ')

= render 'applications/show/repo_common', repository: repository, url: link_to_repository(repository.url)
