%h4{ class: 'page-header' }
  = link_to_if can?(:edit_application, application), label_with_icon(get_model_name_for('EnvVar'), 'fa-list-ul', fixed: true), env_vars_application_path(application)

- if application.env_vars.any?
  %ul{ class: 'list-group' }
    - application.env_vars.each do |env_var|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }= render_env_var(env_var)

- else
  = render_no_data

= link_to "(#{t('.final')})", 'javascript:void(0);', onclick: "$('#final-env-vars').toggle(); return false;"
%span{ id: 'final-env-vars', style: 'display: none;' }
  %ul{ class: 'list-group' }
    - application.active_env_vars.to_env.each do |env|
      %li{ class: 'list-group-item' }
        %span{ class: 'mount-point' }
          %code= env
