%div{ class: 'col-md-6' }

  %h4{ class: 'page-header' }= label_with_icon(t('.settings'), 'fa-sliders', fixed: true)

  %dl{ class: 'dl-horizontal dl-big' }
    %dt= Application.human_attribute_name('identifier') + ' :'
    %dd= application.identifier

    %dt= Application.human_attribute_name('type') + ' :'
    %dd= application.type

    %dt= Application.human_attribute_name('image_type') + ' :'
    %dd= application.image_type

    %dt= Application.human_attribute_name('buildpack') + ' :'
    %dd= shorten_url application.buildpack

    %dt= Application.human_attribute_name('domain_name') + ' :'
    %dd= link_to application.domain_name, "http://#{application.domain_name}", target: '_blank'

    %dt= Application.human_attribute_name('credentials_enabled') + ' :'
    %dd= bool_to_icon application.use_credentials?

    %dt= Application.human_attribute_name('cron_enabled') + ' :'
    %dd= bool_to_icon application.use_cron?

    %dt= Application.human_attribute_name('ssl_enabled') + ' :'
    %dd= bool_to_icon application.use_ssl?

    %dt= Application.human_attribute_name('debug_enabled') + ' :'
    %dd= bool_to_icon application.debug_mode?

    %dt= Application.human_attribute_name('instance_number') + ' :'
    %dd= label_with_success_tag application.instance_number
