%div{ class: 'col-md-6' }

  %h4{ class: 'page-header' }= label_with_icon(t('label.repository.local'), 'fa-cloud-upload', fixed: true)

  %dl{ class: 'dl-horizontal' }

    %dt= t('label.repository.url') + ' :'
    %dd= repository.git_url

    %dt= t('label.repository.state') + ' :'
    %dd

    %dt= t('label.repository.last_commit') + ' :'
    %dd
      - if repository.empty?
        = t('label.repository.empty')
      - else
        = t('label.repository.commit_id') + ' : '
        = repository.last_commit
        %br
        = t('label.repository.commit_date') + ' : '
        = l(repository.last_commit_date) rescue ''
        %br
        = t('label.repository.commit_author') + ' : '
        = mail_to repository.last_commit_author_mail, repository.last_commit_author_name
        %br
        = t('label.repository.commit_message') + ' : '
        = repository.last_commit_message
