%div{ class: 'col-md-12' }

  %h4{ class: 'page-header' }= label_with_icon(get_model_name_for('Release'), 'fa-history', fixed: true)

  %ul{ class: 'list-unstyled' }
    - application.releases.includes(build: [:push]).reverse.each do |release|
      %li
        %span{ class: 'release_date' }= l(release.created_at)
        %span= t('.from')
        %span{ class: 'release_version' }= release.old_revision[0..6]
        %span= t('.to')
        %span{ class: 'release_version' }= release.new_revision[0..6]
