%div{ class: 'col-md-12' }

  %h4{ class: 'page-header' }= label_with_icon(get_model_name_for('Release'), 'fa-history', fixed: true)

  - unless smart_listing.empty?

    %ul{ class: 'list-unstyled list-group' }
      - smart_listing.collection.each do |release|
        %li{ class: 'list-group-item' }
          %span{ class: 'release_date' }= l(release.created_at)
          %span= t('.from')
          %span{ class: 'release_version' }= release.old_revision[0..6]
          %span= t('.to')
          %span{ class: 'release_version' }= release.new_revision[0..6]

    = smart_listing.paginate
    = smart_listing.pagination_per_page_links

  - else

    = render_no_data
