%dl{ class: 'dl-horizontal' }

  %dt= Repository.human_attribute_name('url') + ' :'
  %dd= url

  %dt= t('.last_commit') + ' :'
  %dd
    - if repository.rugged_proxy.empty?
      = t('.empty')
    - else
      = t('.commit_id') + ' : '
      = repository.rugged_proxy.last_commit_id[0..12]
      %br
      = t('.commit_date') + ' : '
      = l(repository.rugged_proxy.last_commit_info(:time)) rescue ''
      %br
      = t('.commit_author') + ' : '
      = mail_to repository.rugged_proxy.last_commit_info(:email), repository.rugged_proxy.last_commit_info(:name)
      %br
      = t('.commit_message') + ' : '
      = repository.rugged_proxy.last_commit_info(:message)
