%h4{ class: 'page-header' }
  = link_to_if can?(:edit_application, application), label_with_icon(get_model_name_for('Settings'), 'fa-sliders', fixed: true), settings_application_path(application)

  %small.pull-right= render 'applications/show/settings_status', application: application

%dl{ class: 'dl-horizontal' }
  %dt= Application.human_attribute_name('identifier') + ' :'
  %dd= application.identifier

  %dt= Application.human_attribute_name('type') + ' :'
  %dd= application.type

  %dt= Application.human_attribute_name('image_type') + ' :'
  %dd= application.image_type

  %dt= Application.human_attribute_name('buildpack') + ' :'
  %dd= shorten_url application.buildpack

  %dt= Application.human_attribute_name('domain_name') + ' :'
  %dd= link_to application.domain_name, "http://#{application.domain_name}", target: '_blank'
