= icon 'fa-clock-o', title: Application.human_attribute_name('cron_enabled'),        class: add_class_on_condition(application.use_cron?, true, 'fa-success')
= icon 'fa-shield',  title: Application.human_attribute_name('ssl_enabled'),         class: add_class_on_condition(application.use_ssl?, true, 'fa-success')
= icon 'fa-eye',     title: Application.human_attribute_name('credentials_enabled'), class: add_class_on_condition(application.use_credentials?, true, 'fa-success')
= icon 'fa-gear',    title: Application.human_attribute_name('debug_enabled'),       class: add_class_on_condition(application.debug_mode?, true, 'fa-success')

= label_with_success_tag label_with_icon("#{Application.human_attribute_name('instance').capitalize} #{application.instance_number}", 'fa-rocket')
= label_with_success_tag label_with_icon("#{Application.human_attribute_name('memory').capitalize} #{application.max_memory}M", render_memory_icon(application.max_memory))
= label_with_success_tag label_with_icon("#{t('.database')} #{application.db_type}", 'fa-database')
= render_application_health(application)
