%td{ colspan: 3 }
  = bootstrap_form_for object,
                       layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10',
                       url:    admin_user_membership_path(object.enrolable, object),
                       html:   { method: :patch, remote: true } do |f|

    %p
      - Role.givable.all.each do |role|
        %label
          = check_box_tag 'membership[role_ids][]', role.id, object.roles.include?(role), id: nil, disabled: object.member_roles.detect { |mr| mr.role_id == role.id && !mr.inherited_from.nil? }
          = role
        %br

    = hidden_field_tag "membership[role_ids][]", ''

    = f.success
    %button.btn.btn-default.cancel= t('button.cancel')
