- html_title t('.change_password')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= label_with_icon(t('.change_password'), 'fa-lock', fixed: true)

    = bootstrap_form_for resource,
                         layout: :horizontal, label_col: "col-sm-4 col-md-3", control_col: "col-sm-4 col-md-3",
                         url:    user_registration_path,
                         html:   { method: :patch } do |f|

      = f.password_field :current_password, autocomplete: "off"
      = f.password_field :password, autocomplete: "off"
      = f.password_field :password_confirmation, autocomplete: "off"

      .form-group
        %div{ class: 'col-sm-offset-3 col-sm-10' }
          = button_submit t('button.update')
