#form-add-key{ class: 'panel panel-default', style: display_on_condition(ssh_key.errors.any?, true) }
  .panel-heading
    %h3= t('.new')

  .panel-body
    = bootstrap_form_for ssh_key,
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10",
                         url:    ssh_key_create_path(admin: admin, user: user),
                         html:   { method: :post, remote: true } do |f|

      = f.text_field :title, required: true, control_col: 'col-sm-4'
      = f.text_area :key,    required: true

      .form-group
        %div{ class: 'col-sm-offset-2 col-sm-3' }
          = button_submit t('button.create')
          = button_tag t('button.cancel'), type: 'button', onclick: "resetForm('#new_ssh_public_key'); $('#form-add-key').hide(); return false;", class: 'btn btn-default'
