= render 'common/application_partial'

#addons{ class: 'settings' }

  %span{ class: 'pull-right'}
    = link_to label_with_icon(t('.add'), 'fa-plus', fixed: true), add_addon_application_path(application),
              remote: true, data: { toggle: 'ajax-modal', draggable: true }

  %br
  %br

  .flash-messages

  = bootstrap_nested_form_for application, layout: :horizontal,
                              url:    addons_application_path(application),
                              html:   { method: :patch, remote: true } do |f|

    = f.fields_for :addons do |ff|

      %fieldset
        %legend
          = render_addon_link(ff.object)
          %small.pull-right= ff.link_to_remove icon('fa-trash-o', bigger: false)

        = ff.text_field :params

    - if application.addons.any?
      = f.success t('button.save'), data: { disable_with: t('text.save_in_progress') }
