= render 'common/application_partial'

#database{ class: 'settings' }

  .flash-messages

  %fieldset.padded
    %legend= label_with_icon(t('.settings'), 'fa-sliders', bigger: false)
    = bootstrap_form_for application,
                         layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-5 col-md-4',
                         url:    database_application_path(application),
                         html:   { method: :patch, remote: true } do |f|

      = f.fields_for :database do |ff|
        = ff.text_field :db_type, disabled: true, prepend: button_with_icon('fa-database')
        = ff.text_field :db_name, disabled: true, prepend: button_with_icon('fa-book'), append: zero_clipboard_button_for('application_database_attributes_db_name')
        = ff.text_field :db_user, disabled: true, prepend: button_with_icon('fa-user'), append: zero_clipboard_button_for('application_database_attributes_db_user')
        = ff.text_field :db_pass, disabled: true, prepend: button_with_icon('fa-eye'), append: zero_clipboard_button_for('application_database_attributes_db_pass')
        = ff.select     :server_id, available_database_servers, {}, disabled: !application.database.server.nil?

        .form-group
          %label{ class: 'control-label col-sm-3', for: 'application_database_attributes_db_created' }= ApplicationDatabase.human_attribute_name('db_created')
          %div{ class: 'col-sm-5 col-md-4' }
            %span{ id: 'application_database_attributes_db_created' }= bool_to_icon application.database.db_created?

      - unless application.database.db_created?
        = f.form_group do
          = f.success t('button.save'), data: { disable_with: t('text.save_in_progress') }

  %fieldset.padded
    %legend= label_with_icon(t('.reset'), 'fa-warning', bigger: false)
    = link_to label_with_icon(t('button.reset'), 'fa-refresh', fixed: true),
              reset_database_application_path(application),
              remote: true, data: { confirm: t('.warning') },
              class: 'btn btn-warning'
