= render 'common/application_partial'

#repository{ class: 'settings' }

  .flash-messages

  = bootstrap_form_for application.distant_repo,
                       layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-4",
                       url:    repository_application_path(application),
                       html:   { method: :patch, remote: true } do |f|

    = f.text_field :url, required: true, control_col: 'col-sm-8'
    = f.text_field :branch, required: false

    = f.form_group :have_credentials, label: { text: t('.have_credentials') }, class: 'shifted' do
      = f.check_box :have_credentials, data: { size: 'small' }, label: ''

    #select-credential
      = f.collection_select :credential_id, RepositoryCredential.all, :id, :to_s, prompt: true

    .form-group
      %div{ class: 'col-sm-offset-3 col-sm-4' }
        = button_submit t('button.save')

  - if !application.distant_repo.credential.nil?
    #in-use-credential= render 'applications_config/partials/credential', credential: application.distant_repo.credential

  = javascript_tag do
    useCredentials();
