= render 'common/application_partial'

#ssl-certificate{ class: 'settings' }

  = remote_toggle_button url: toggle_ssl_application_path(application),
                         label: Application.human_attribute_name('enable_ssl'),
                         id: 'toggle_enable_ssl',
                         value: application.use_ssl?,
                         checked: application.use_ssl?,
                         field: 'use_ssl'

  .clearfix

  .flash-messages

  = bootstrap_form_for (application.ssl_certificate || application.build_ssl_certificate),
                       layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-8",
                       url:    ssl_certificate_application_path(application),
                       html:   { method: :patch, multipart: true } do |f|

    = f.errors_on :base

    - if f.object.new_record?

      = f.file_field :ssl_crt, required: true
      = f.file_field :ssl_key, required: true

      = f.form_group do
        = f.success t('button.save'), data: { disable_with: t('text.save_in_progress') }

    - else

      = f.text_area :ssl_crt, rows: '6', disabled: true, class: 'code'
      = f.text_area :ssl_key, rows: '6', disabled: true, class: 'code'

      = f.form_group do
        = link_to label_with_icon(t('.reset'), 'fa-trash-o', fixed: true),
                  reset_ssl_certificate_application_path(application),
                  remote: true,
                  class:  'btn btn-danger',
                  data:   { confirm: t('text.are_you_sure') }

= javascript_tag do
  setBootstrapSwitch('#ssl-certificate');
