:javascript
  Highcharts.setOptions({lang: #{render_highcharts_translations}});

= render 'common/application_partial'

.row
  .col-md-6
    = column_chart charts_application_path(application, type: :pushes, group_by: :month_of_year),
                   xtitle:  t('text.time'),
                   ytitle:  Application.human_attribute_name('pushes'),
                   library: { title: { text: Application.human_attribute_name('pushes_by_month') } }

  .col-md-6
    = column_chart charts_application_path(application, type: :releases, group_by: :month_of_year),
                   xtitle:  t('text.time'),
                   ytitle:  Application.human_attribute_name('releases'),
                   library: { title: { text: Application.human_attribute_name('releases_by_month') } }

.row
  .col-md-6
    = line_chart charts_application_path(application, type: :pushes, group_by: :month_of_year),
                 xtitle:   t('text.time'),
                 ytitle:   Application.human_attribute_name('pushes'),
                 discrete: true,
                 library:  { chart: { zoomType: 'x' }, title: { text: Application.human_attribute_name('pushes_by_month') } }

  .col-md-6
    = line_chart charts_application_path(application, type: :releases, group_by: :month_of_year),
                 xtitle:   t('text.time'),
                 ytitle:   Application.human_attribute_name('releases'),
                 discrete: true,
                 library:  { chart: { zoomType: 'x' }, title: { text: Application.human_attribute_name('releases_by_month') } }

.row
  .col-md-6
    = column_chart charts_application_path(application, type: :pushes, group_by: :day_of_week),
                   xtitle:  t('text.time'),
                   ytitle:  Application.human_attribute_name('pushes'),
                   library: { title: { text: Application.human_attribute_name('pushes_by_day_of_week') } }

  .col-md-6
    = column_chart charts_application_path(application, type: :releases, group_by: :day_of_week),
                   xtitle:  t('text.time'),
                   ytitle:  Application.human_attribute_name('releases'),
                   library: { title: { text: Application.human_attribute_name('releases_by_day_of_week') } }

.row
  .col-md-6
    = line_chart  charts_application_path(application, type: :pushes, group_by: :day),
                  xtitle:  t('text.time'),
                  ytitle:  Application.human_attribute_name('releases'),
                  library: { chart: { zoomType: 'x' }, title: { text: Application.human_attribute_name('pushes_by_day') } }

  .col-md-6
    = stock_chart charts_application_path(application, type: :releases, group_by: :day),
                  xtitle:  t('text.time'),
                  ytitle:  Application.human_attribute_name('releases'),
                  library: { lang: 'fr', title: { text: Application.human_attribute_name('releases_by_day') } }
