= render 'common/application_partial'

.row.padded
  %div{ class: 'col-md-6' }= render 'applications/show/settings', application: application
  %div{ class: 'col-md-6' }= render 'applications/show/members',  application: application

.row.padded
  %div{ class: 'col-md-6' }= render 'applications/show/domain_aliases',   application: application
  %div{ class: 'col-md-6' }= render 'applications/show/domain_redirects', application: application

.row.padded
  %div{ class: 'col-md-6' }= render 'applications/show/env_vars',     application: application
  %div{ class: 'col-md-6' }= render 'applications/show/credentials', application: application


.row.padded
  %div{ class: 'col-md-6' }= render 'applications/show/mount_points', application: application
  %div{ class: 'col-md-6' }= render 'applications/show/addons',      application: application
