= render 'common/application_partial'

.row
  %div{ class: 'col-sm-12 col-md-10 col-md-offset-1' }
    .row
      %div{ class: 'col-md-6' }= render 'applications/show/settings', application: application
      %div{ class: 'col-md-6' }= render 'applications/show/members',  application: application

.row
  %div{ class: 'col-sm-12 col-md-10 col-md-offset-1' }
    .row
      %div{ class: 'col-md-4' }= render 'applications/show/domain_aliases', application: application
      %div{ class: 'col-md-4' }= render 'applications/show/domain_redirects', application: application
      %div{ class: 'col-md-4' }= render 'applications/show/env_vars', application: application

.row
  %div{ class: 'col-sm-12 col-md-10 col-md-offset-1' }
    .row
      %div{ class: 'col-md-4' }= render 'applications/show/mount_points', application: application
      %div{ class: 'col-md-4' }= render 'applications/show/credentials', application: application
      %div{ class: 'col-md-4' }= render 'applications/show/addons', application: application
