%fieldset.padded
  %legend= label_with_icon t('.configuration'), 'fa-gears', bigger: false

  .flash-messages

  - if server.roles.any?

    = bootstrap_nested_form_for server,
                                layout: :horizontal, label_col: 'col-sm-3 col-md-5', control_col: 'col-sm-4 col-md-7',
                                url:    update_roles_admin_platform_server_path(server.platform, server),
                                html:   { method: :patch, remote: true } do |f|

      - server.roles.by_role.in_groups_of(2, false) do |roles_row|

        .row

          = f.fields_for :roles, roles_row, wrapper: false do |ff|

            %div{ class: 'col-md-6' }

              %h4{ class: 'page-header' }= label_with_icon(ff.object.humanize, ff.object.to_icon, fixed: true)

              = ff.text_field :alternative_host, required: false
              = ff.text_field :port, required: false
              = ff.text_field :connection_timeout, required: false

              = ff.form_group :default_server, label: { text: t('.default_server') }, class: 'shifted' do
                = ff.check_box :default_server, class: 'bootstrap-switch', data: { size: 'small' }, label: ''

      = f.success

  - else
    = render_no_data

%br
