.row
  .col-md-12

    .panel{ class: 'panel-default' }
      .panel-heading
        = link_to t('.new'), 'javascript:void(0)', id: 'btn-add-key',
                                                   class:   'btn btn-default btn-sm minibutton pull-right',
                                                   onclick: "$('#form-add-key').show(); return false;"

        %h3= get_model_name_for('SshPublicKey')

      %ul{ class: 'list-group' }
        - user.ssh_public_keys.each do |ssh_key|
          %li{ class: 'list-group-item ssh-key' }
            %span{ class: 'ssh-key-icon' }
              %span{ class: 'mega-octicon octicon-key' }

            %div{ class: 'ssh-key-details' }
              = button_delete admin_user_public_key_path(user, ssh_key), class: 'btn-sm pull-right', label: t('.delete'), remote: true
              %strong{ class: 'ssh-key-title' }= ssh_key.title
              %code{ class: 'ssh-key-fingerprint' }= ssh_key.fingerprint


    #form-add-key{ class: 'panel panel-default', style: display_on_condition(ssh_key.errors.any?, true) }
      .panel-heading
        %h3= t('.new')

      .panel-body
        = bootstrap_form_for ssh_key,
                             layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10",
                             url:    admin_user_public_keys_path(user),
                             html:   { method: :post, remote: true } do |f|

          = f.text_field :title, required: true, control_col: 'col-sm-4'
          = f.text_area :key,    required: true

          .form-group
            %div{ class: 'col-sm-offset-2 col-sm-3' }
              = button_submit t('button.create')
