= content_tag_for(:tr, application) do
  %td= link_to application.fullname, application_path(application), target: '_blank'
  %td= link_to_external application.domain_name
  %td= application.type
  %td= application.image_type
  %td= shorten_url application.buildpack
  %td
    = render_application_state application.state
    %span{ class: 'action-result', style: 'display: none;' }
  %td= check_box_tag "application_ids[]", application.id, false, class: 'app-checkbox' unless application.state == :undeployed
