= bootstrap_form_tag url: manage_admin_applications_path, method: :post, remote: true do |f|
  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th= Application.human_attribute_name('name')
        %th= Application.human_attribute_name('domain_name')
        %th= Application.human_attribute_name('version')
        %th= Application.human_attribute_name('image_type')
        %th= Application.human_attribute_name('buildpack')
        %th= Application.human_attribute_name('state')
        %th= button_select_all "toggleCheckboxesBySelector('input.app-checkbox'); return false;"

    %tbody
      - applications.each do |application|
        = render 'application', application: application

  = f.select "deploy_action", options_for_select(options_for_manage_application), prompt: t('.select.action'), skip_label: true
  = button_submit t('.button.execute')
