- html_title get_model_name_for('Application')

.row
  %div{ class: 'col-md-12' }

    %h3{ class: 'page-header' }
      = render_crumbs
      .contextual.contextual-header
        %span= @applications.size
        %small
          = surround '(', ')' do
            = button_refresh('getApplicationsStatus(); return false;')

    #manage_applications= render 'list', applications: @applications
