- html_title t('label.server.plural'), @server

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= render_crumbs

    .row
      %div{ class: 'col-md-6' }
        #server-settings= render 'admin/servers/edit/settings', server: @server

      %div{ class: 'col-md-6' }
        #server-roles= render 'admin/servers/edit/roles', server: @server

    .row
      %div{ class: 'col-md-12' }
        #server-modules= render 'admin/servers/edit/modules', server: @server

    .row
      %div{ class: 'col-md-12' }
        #server-delete= render 'admin/servers/edit/delete', server: @server

= javascript_tag do
  setBootstrapSwitch('#server-modules');
