- html_title @page_title

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }
      = render_crumbs
      = button_add new_admin_application_type_path

    = render 'admin/application_types/applications', applications: @application_types.php, language: 'Php'
    = render 'admin/application_types/applications', applications: @application_types.ruby, language: 'Ruby'
    = render 'admin/application_types/applications', applications: @application_types.python, language: 'Python'
