- html_title @page_title

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }
      = render_crumbs
      = button_add new_admin_addon_path

    %table{ class: 'table table-hover' }
      %thead
        %tr
          %th= Buildpack.human_attribute_name('name')
          %th= Buildpack.human_attribute_name('image')
          %th

      %tbody
        - @addons.each do |addon|
          %tr
            %td= link_to addon.name, edit_admin_addon_path(addon)
            %td= addon.image
            %td{ class: 'text-right' }= button_delete admin_addon_path(addon), class: 'btn-sm'
