- html_title t('.title'), @stage

.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= render_crumbs

    %fieldset.padded
      %legend= label_with_icon get_model_name_for('Settings'), 'fa-sliders', bigger: false

      = bootstrap_form_for @stage,
                           layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-4 col-md-4',
                           url:    admin_platform_stage_path(@stage.platform, @stage),
                           html:   { method: :patch } do |f|

        = render 'form', f: f

.row
  %div{ class: 'col-md-offset-1 col-md-10' }
    = render 'delete', stage: @stage
