%h3{ class: 'page-header' }
  = label_with_icon(t('.title'), 'fa-info-circle', bigger: false)

%table{ class: 'table table-striped' }
  %tbody
    %tr
      %td= t('.version_of.deploy_it')
      %td
        %code= DeployIt.version
    %tr
      %td= t('.version_of.ruby')
      %td
        %code= RUBY_VERSION
    %tr
      %td= t('.version_of.rails')
      %td
        %code= Rails::VERSION::STRING
    %tr
      %td= t('.version_of.docker')
      %td
        %code= ::Docker.version['Version']
        = link_to "(#{t('.more_infos')})", 'javascript:void(0);', onclick: "$('#docker-infos').toggle(); return false;"
        %span{ id: 'docker-infos', style: 'display: none;' }
          %pre= preserve(pp ::Docker.info)
    %tr
      %td= t('.version_of.libgit2')
      %td
        %code= Rugged.libgit2_version.join('.')

    %tr
      %td= t('.version_of.rugged')
      %td
        %code= Rugged.features.join('/')
