.row
  .col-md-12

    .alert{ class: 'alert-info dont-dismiss' }
      %span= label_with_icon(t('.help'), 'fa-info-circle')
      \:
      %span= t('.explanation')

    .panel{ class: 'panel-default' }
      .panel-heading
        = link_to t('.new'), 'javascript:void(0)', id: 'btn-add-key',
                                                   class:   'btn btn-default btn-sm minibutton pull-right',
                                                   onclick: "$('#form-add-key').show(); return false;"

        %h3= get_model_name_for('SshPublicKey')

      %ul{ class: 'list-group' }
        - ssh_keys.each do |ssh_key|
          %li{ class: 'list-group-item ssh-key' }
            .ssh-key-details
              %span{ class: 'ssh-key-icon' }
                %span{ class: 'mega-octicon octicon-key' }

              = button_delete public_key_path(ssh_key), class: 'btn-sm pull-right', label: t('.delete'), remote: true

              %strong{ class: 'ssh-key-title' }= ssh_key.title
              %code{ class: 'ssh-key-fingerprint' }= ssh_key.fingerprint

    .panel{ class: 'panel-default', id: 'form-add-key', style: display_on_condition(ssh_key.errors.any?, true) }
      .panel-heading
        %h3= t('.new')

      .panel-body
        = bootstrap_form_for ssh_key,
                             layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10",
                             url:    public_keys_path,
                             html:   { method: :post, remote: true } do |f|

          = f.text_field :title, required: true, control_col: 'col-sm-4'
          = f.text_area :key,    required: true

          .form-group
            %div{ class: 'col-sm-offset-2 col-sm-10' }
              = button_submit t('button.save')
