- html_title t('label.repository_credential.plural'), @credential

.row
  %div{ class: 'col-md-12' }

    %h3{ class: 'page-header' }= render_crumbs

    = bootstrap_form_for @credential_form,
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-3",
                         url:    sti_credential_path(@credential.type, @credential),
                         html:   { method: :patch } do |f|

      = f.text_field :name, required: true

      = render partial: "edit_#{@credential.type.demodulize.underscore}", locals: { f: f }

      .form-group
        %div{ class: 'col-sm-offset-2 col-sm-5' }
          = button_submit t('button.update')
          = button_cancel applications_path
          = button_delete sti_credential_path(@credential.type, @credential), label: t('label.delete') if can?(:delete_credential, nil, global: true) && @credential.deletable?
