- html_title t('.title')

.row
  %div{ class: 'col-md-12' }

    %h3{ class: 'page-header' }= render_crumbs

    = bootstrap_form_for @credential_form,
                         as: :repository_credential,
                         layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4",
                         url:    credentials_path,
                         html:   { method: :post } do |f|

      = f.text_field :name, required: false

      #select-credential-type
        = f.hidden_field :type, value: ''
        = f.collection_radio_buttons :type, CredentialCreationForm::AVAILABLE_CREDENTIALS, :first, :last, inline: true

      #login-pass-form{ style: display_on_condition(f.object.model.type, 'BasicAuth') }
        = f.text_field     :login,    required: false
        = f.password_field :password, required: false

      #ssh-key-form{ style: display_on_condition(f.object.model.type, 'SshKey') }

        #select-creation-mode
          = f.collection_radio_buttons :create_options, CredentialCreationForm::CREATION_OPTIONS, :first, :last, inline: true, control_col: "col-sm-6"

        #ssh-key-form-manual{ style: display_on_condition(f.object.model.type, 'SshKey') }
          = f.text_area :public_key,  required: false, control_col: "col-sm-10", rows: "6"
          = f.text_area :private_key, required: false, control_col: "col-sm-10", rows: "6"

      .form-group
        %div{ class: 'col-sm-offset-2 col-sm-10' }
          = button_submit t('button.create')
          = button_cancel applications_path

= javascript_tag do
  setCreateCredentialForm();
