= f.text_field :firstname, required: true
= f.text_field :lastname, required: true

= f.email_field :email, required: true

= f.select :language, available_locales

= f.time_zone_select :time_zone, nil, { default: 'Paris' }

- unless object.first_admin?

  = f.form_group :admin, label: { text: User.human_attribute_name('admin') }, class: 'shifted' do
    = f.check_box :admin, class: 'bootstrap-switch', data: { size: 'small' }, label: ''

  = f.form_group :enabled, label: { text: User.human_attribute_name('enabled') }, class: 'shifted' do
    = f.check_box :enabled, class: 'bootstrap-switch', data: { size: 'small' }, label: ''
