.panel{ class: 'panel-default' }
  .panel-heading= label
  .panel-body
    %table{ class: 'table table-hover' }
      %thead
        %tr
          %th= User.human_attribute_name('identifier')
          %th= User.human_attribute_name('email')
          %th= User.human_attribute_name('last_connection')
          %th

      %tbody
        - users.each do |user|
          %tr
            %td= link_to user.full_name, edit_admin_user_path(user)
            %td= mail_to user.email
            %td= user.last_connection
            %td= button_delete admin_user_path(user), class: 'btn-sm' unless user.id == 1
