.row
  %div{ class: 'col-md-offset-1 col-md-10' }

    %h3{ class: 'page-header' }= render_crumbs

    = bootstrap_form_for @password_form,
                         layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-4',
                         url:    change_password_admin_user_path(@password_form.user),
                         html:   { method: :patch } do |f|

      #select-password-creation-mode
        = f.hidden_field :create_options, value: ''
        = f.collection_radio_buttons :create_options, UserCreationForm::PASSWORD_OPTIONS, :first, :last, inline: true, control_col: 'col-sm-6'

      #password-manual-creation{ style: display_on_condition(f.object.create_options, 'manual') }
        = f.password_field :new_password, autocomplete: 'off', control_col: 'col-sm-3'
        = f.password_field :new_password_confirmation, autocomplete: 'off', control_col: 'col-sm-3'

      = f.form_group do
        = f.check_box :send_by_mail

      = f.form_group do
        = f.success
        = f.cancel edit_admin_user_path(@password_form.user)

:javascript
  setCreateUserForm()
