= link_to label_with_icon(t('.change_password'), 'fa-lock', fixed: true), change_password_admin_user_path

= bootstrap_form_for user,
                     layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-5 col-md-4 col-lg-3',
                     url:    admin_user_path(user),
                     html:   { method: :patch } do |f|

  = render 'form', f: f, object: user

  = f.form_group do
    = f.success
    = f.cancel admin_users_path
