- html_title t('.title')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }
    %h3{ class: 'page-header' }= render_crumbs

    .row

      %div{ class: 'col-md-7' }

        = bootstrap_form_for @user,
                             layout: :horizontal, label_col: 'col-sm-4 col-md-4', control_col: 'col-sm-5 col-md-6',
                             url:    my_account_path,
                             html:   { method: :patch } do |f|

          = f.text_field :firstname, required: true
          = f.text_field :lastname, required: true

          = f.text_field :email, required: true

          = f.select :language, available_locales

          = f.time_zone_select :time_zone, nil, { default: 'Paris' }

          = f.form_group do
            = f.success nil, data: { disable_with: t('text.save_in_progress') }

      %div{ class: 'col-md-5' }

        %h5{ class: 'page-header' }
          = t('.api_key')
          %span{ class: 'pull-right' }
            = surround '(', ')' do
              = link_to t('button.reset'), reset_api_key_path, remote: true, method: :patch, data: { confirm: t('text.are_you_sure') }

        %pre{ id: 'authentication-token' }= @user.api_token
