- html_title t('label.my.profile')

.row
  %div{ class: 'col-md-offset-1 col-md-10' }
    %h3{ class: 'page-header' }= label_with_icon(t('label.my.profile'), 'fa-user', fixed: true)

    .row

      %div{ class: 'col-md-7' }

        = bootstrap_form_for @user,
                             layout: :horizontal, label_col: "col-sm-4 col-md-4", control_col: "col-sm-5 col-md-6",
                             url:    my_account_path,
                             html:   { method: :patch } do |f|

          = f.text_field :firstname, required: true
          = f.text_field :lastname, required: true

          = f.text_field :email, required: true

          = f.select :language, available_locales

          = f.time_zone_select :time_zone, nil, { default: "Paris" }

          .form-group
            %div{ class: "col-sm-offset-4 col-sm-5 col-md-offset-4 col-md-4" }
              = button_submit t('button.update')

      %div{ class: 'col-md-5' }

        %h5{ class: 'page-header' }
          = t('label.my.api_key')
          %span{ class: 'pull-right' }
            (
            = link_to t('button.reset'), reset_api_key_path, remote: true, method: :patch, data: { confirm: t('text.are_you_sure') }
            )

        %pre{ id: 'authentication-token' }= @user.authentication_token
