%meta(charset="utf-8")
%title= yield(:title)
= csrf_meta_tags
= google_webfonts_init({google: ['Ubuntu','Pacifico']})
= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
