= responsive_nav_menu('left-menu-applications-small', navbar_name: current_menu_name, navbar_id: 'applications-navbar-sm') do
  = sidebar_menu_top_items

= responsive_nav_menu('left-menu-features-small', navbar_name: 'Extras', navbar_id: 'features-navbar-sm') do
  = sidebar_menu_bottom_items

= static_sidebar(class: 'col-md-3 col-sm-3 hidden-xs') do

  = sidebar_module(id: 'left-menu-applications') do
    = nav_menu(style: 'width: 100%;') do
      = sidebar_menu_top_items

  = sidebar_module(id: 'left-menu-features') do
    = nav_menu(style: 'width: 100%;') do
      = sidebar_menu_bottom_items
