!!! 5
%html{ lang: User.current.language }
  %head= render 'layouts/common/head', assets_for_layout: 'main/application'

  %body{ data: { controller: controller.controller_path, action: controller.action_name } }

    #wrapper

      = render 'layouts/common/topnavbar'

      #page-wrapper

        .row
          .col-lg-12

            #flash-messages.flash-messages= render_flash_messages

            = yield

      #modal-holder

      #context-menu{ style: 'display: none;' }

    = render 'layouts/common/javascript'
