!!! 5
%html{ lang: User.current.language }
  %head= render 'layouts/head'

  %body{ data: { controller: controller.controller_path, action: controller.action_name, app_id: @application.id } }

    #header= render 'layouts/topbar'

    #main-content{ class: 'container-fluid' }
      .row-fluid

        - if User.current.logged?

          = render 'layouts/sidebar'

          .col-md-9.col-sm-9
            .container-fluid
              #flash-messages= render_flash_messages
              .row
                %div{ class: 'col-md-12' }
                  #application-content{ class: @application.marked_for_deletion? ? 'disabled marked-for-deletion' : '' }= yield

        - else

          = render 'layouts/page'

    = render 'layouts/footer'
