!!! 5
%html{ lang: current_site_user.language }
  %head= render 'layouts/common/head', assets_for_layout: 'main/application'

  %body{ data: { controller: controller.controller_path, action: controller.action_name, app_id: @application.id } }

    #wrapper

      = render 'layouts/common/topnavbar'

      #page-wrapper

        .row
          .col-lg-12

            #flash-messages.flash-messages= render_flash_messages

            #application-content{ class: @application.marked_for_deletion? ? 'disabled marked-for-deletion' : '' }
              = yield

      #modal-holder

      #context-menu{ style: 'display: none;' }

    = render 'layouts/common/javascript'
