- unless smart_listing.empty?

  %table{ class: 'table table-hover' }
    %thead
      %tr
        %th= Member.human_attribute_name('user_ids')
        %th= Member.human_attribute_name('role_ids')
        %th

    %tbody
      - sorted = smart_listing.collection.group_by(&:enrolable_type)
      = render partial: 'members/member', collection: sorted['Group'], locals: { smart_listing: smart_listing }
      = render partial: 'members/member', collection: sorted['User'], locals: { smart_listing: smart_listing }

- else
  = render_no_data(type: :warning)
