#members{ class: 'settings' }

  .flash-messages

  - members = application.members.includes(:enrolable, :roles)

  .row

    .col-md-8
      - if members.any?
        %table{ class: 'table table-hover' }
          %thead
            %tr
              %th= Member.human_attribute_name('user_ids')
              %th= Member.human_attribute_name('role_ids')
              %th

          %tbody
            - sorted = members.group_by(&:enrolable_type)
            = render partial: 'members/member', collection: sorted['Group'], locals: { application: application }
            = render partial: 'members/member', collection: sorted['User'], locals: { application: application }

      - else
        = render_no_data(type: :warning)

    .col-md-4
      = bootstrap_form_for Member.new,
                           layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-8",
                           url:    application_members_path(application),
                           html:   { method: :post, remote: true } do |f|

        = hidden_field_tag "member[group_ids][]", ''
        = render_group_member_form(label_col: 'col-sm-4', control_col: 'col-sm-8')

        = hidden_field_tag "member[user_ids][]", ''
        = render_user_member_form(label_col: 'col-sm-4', control_col: 'col-sm-8')

        = hidden_field_tag "member[role_ids][]", ''

        = f.collection_check_boxes(:role_ids, Role.givable, :id, :name) do |b|
          = content_tag :div, class: 'checkbox' do
            = b.label(:"data-value" => b.value) { b.check_box + b.text }

        = f.form_group do
          = f.success nil, icon: 'fa-plus', class: 'btn-sm'

:javascript
  setHideOnLoad()
